channels:
  - conda-forge
  - defaults

dependencies:
  - dash
  - dill
  - jsonmerge
  - mat4py
  - nlopt
  - numpydoc
  - openfast==4.0.2
  - openfast-io==4.0.4
  - openraft>=1.2.4
  - osqp  
  - pcrunch>=2.0.0
  - pip
  - pyhams>=1.3
  #- pyoptsparse
  - rosco>=2.9.7
  - smt
  - wisdem==3.20.1
  - pip:
    - dash-bootstrap-components
    - dash-mantine-components
    - dash-vtk
    - pyvista
    - dearpygui
    - marmot-agents
# Needs to be done outside of environment file:
#  - m2w64-toolchain # [win]
#  - libpython # [win]
#  - compilers # [not win]
#  - petsc4py # [not win]
#  - mpi4py # [not win]
