channels:
  - conda-forge
  - defaults

dependencies:
  - dash
  - dill
  - jsonmerge
  - mat4py
  - nlopt
  - openfast>=3.5.3
  - openraft>=1.2.4
  - osqp  
  - pcrunch
  - pip
  - pyhams>=1.3
  #- pyoptsparse
  - rosco>=2.9.2
  - smt
  - wisdem>=3.16.4
  - pip:
    - dash-bootstrap-components
    - dash-mantine-components
    - dash-vtk
    - dash[dev, testing]
    - pyvista
    - pytest
    - pytest-mock
    - mock
    - requests-mock
    - dearpygui
    - marmot-agents
# Needs to be done outside of environment file:
#  - m2w64-toolchain # [win]
#  - libpython # [win]
#  - compilers # [not win]
#  - petsc4py # [not win]
#  - mpi4py # [not win]
