channels:
  - conda-forge
  - defaults

dependencies:
  - dash
  - dill
  - jsonmerge
  - mat4py
  - nlopt
  - numpydoc
  - openfast>=4.1.0
  - openfast-io>=4.1.0
  - pyopenfast>=4.1.0
  - openraft>=1.4.0
  - osqp  
  # - pcrunch>=2.1.0
  - pip
  - pyhams>=1.3
  #- pyoptsparse
  - rosco>=2.10
  - smt
  - wisdem>=3.21.0
  - moorpy=1.1  # until WISDEM 4.0 release
  - pip:
    - dash-bootstrap-components
    - dash-mantine-components
    - dash-vtk
    - pyvista
    - dearpygui
    - orbit-nrel
    - pcrunch   # temporarily for testing use pip until 2.1.3 is also on conda-forge
# Needs to be done outside of environment file:
#  - m2w64-toolchain # [win]
#  - libpython # [win]
#  - compilers # [not win]
#  - petsc4py # [not win]
#  - mpi4py # [not win]
