channels:
  - conda-forge
  - defaults

dependencies:
  - bs4
  - dash
  - dill
  - jsonmerge
  - mat4py
  - nlopt
  - numpydoc
  - openfast>=4.1.0
  - openfast-io>=4.1.0
  - pyopenfast>=4.1.0
  - openraft>=1.4.0
  - osqp  
  - pcrunch>=2.1.3
  - pip
  - pyhams>=1.3
  #- pyoptsparse
  - rosco>=2.10.1
  - smt
  - wisdem>=3.21.0
  - moorpy>=1.2
  - pip:
    - dash-bootstrap-components
    - dash-mantine-components
    - dash-vtk
    - pyvista
    - dearpygui
    - orbit-nrel
    #- windIO>=2.0.0
    - git+https://github.com/IEAWindSystems/windIO.git@floating_fixes
# Needs to be done outside of environment file:
#  - m2w64-toolchain # [win]
#  - libpython # [win]
#  - compilers # [not win]
#  - petsc4py # [not win]
#  - mpi4py # [not win]
