
*.pyc

# packaging
*.egg-info
build/
develop-eggs/
dist/s

# HAMS-generated data
raft/data/cylinder/Output/Hams_format/
raft/data/cylinder/Output/Hydrostar_format/

.vscode/

# BEM meshing processes generated data
raft/BEM/
raft/HullMesh.pnl
raft/platform.gdf
tests/BEM/
tests/platform.gdf