name: CI_pyHAMS

# We run CI on push commits and pull requests on all branches
on: [push, pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    build_pip:
        name: Pip Build (${{ matrix.os }}) - ${{ matrix.python-version }}
        runs-on: ${{ matrix.os }}
        defaults:
            run:
                shell: bash -l {0}
                
        strategy:
            fail-fast: False
            matrix:
                os: ["ubuntu-latest", "windows-latest"]
                python-version: ["3.8", "3.9", "3.10"]

        steps:
            - name: Setup GNU Fortran
              uses: modflowpy/install-gfortran-action@v1
              
            - name: checkout repository
              uses: actions/checkout@v2

            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Pip Install pyHAMS
              run: |
                  pip install -vv -e .

            - name: Test run
              run: |
                  cd test
                  python test_cylinder.py


    build_conda:
        name: Conda Build (${{ matrix.os }}) - ${{ matrix.python-version }}
        runs-on: ${{ matrix.os }}
        defaults:
            run:
                shell: bash -l {0}
                
        strategy:
            fail-fast: False
            matrix:
                os: ["ubuntu-latest", "windows-latest"]
                python-version: ["3.8", "3.9", "3.10"]

        steps:
            - name: checkout repository
              uses: actions/checkout@v2

            - uses: conda-incubator/setup-miniconda@v2
              # https://github.com/marketplace/actions/setup-miniconda
              with:
                  miniconda-version: "latest"
                  auto-update-conda: true
                  python-version: ${{ matrix.python-version }}
                  environment-file: environment.yml
                  channels: conda-forge
                  activate-environment: test
                  auto-activate-base: false

            # Install dependencies of WISDEM specific to windows
            - name: Add dependencies windows specific
              if: contains( matrix.os, 'windows')
              run: |
                  conda install -y m2w64-toolchain libpython

            # Install 
            - name: Conda Install pyHAMS
              run: |
                  python setup.py develop

            - name: Test run
              run: |
                  cd test
                  python test_cylinder.py

